/* 
	blue:						#0098f0
	other possibily, lighter:	#00a8f0
*/

.center {
	margin-right: auto;
	margin-left: auto;
}

/* Top bar css */
.topbar {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	left: 0;
}

.topbar .header {
	height: 70px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #E6E5E5;
	padding: 9px 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

.topbar .nav {
	padding: 0px 21px 21px 21px;
}

.topbar .nav.right {
	float: right;
	padding: 21px;
}

.topbar div > ul > li, .nav {
	float: left;
	margin-left: 27px;
}

.topbar-icon {
	color: #0098f0;
}

a {
	color: #0098f0;
}

a:hover {
	text-decoration:none;
}

.topbar a:hover {
	/*background-color:#F4F4F4;*/
	vertical-align:middle;
	text-decoration:none;
}

::selection {
	color: #FFF;
	background-color: #0098f0;
}

body {
	font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
}

h1, h2, h3, h4, h5, h6, .tooltip {
	font-family: "Avenir LT W01 85 Heavy", "Avenir LT W01 45 Book", "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-size: 16px;
}

.lead {
	font-size: 23px;
}

.lead h1 {
	margin-bottom:40px;
}

hr { 
	display: block; 
	height: 2px;
    border: 0; 
    border-top: 2px solid #0098f0;
    margin: 1em 0; 
    padding: 0; 
    width:25%;
	margin-right: auto;
	margin-left: auto;
}

/* Social Buttons */
.social-buttons {
	margin-top: 5%;
}

.social-icon {
	color: #0098f0;
}

.social-icon.middle{
	margin-right: 18px;
}

.social-buttons a:hover {
	/*background-color:#333;*/
	vertical-align:middle;
	font-size:15px;
	text-decoration:none;
}

/* section outlining */
.padding {
	padding-top: -20px;
}

.home-container {
	/*background: #FFFFFF;*/
	text-align: center;
	padding: 100px 80px 40px 80px;
}

.projects-container {
	/*background: #F4F4F4;*/
	text-align: center;
	padding: 30px 35px 65px 35px;
}

.projects-container .lead {
	margin: 60px 200px 0px 200px;
}

.about-container {
	/*background: #F4F4F4;*/
	text-align: center;
	padding: 0px 35px 35px 35px;
}

.about-container .lead {
	margin: 60px 0px 0px 0px;
}


.two-column-text {
	-webkit-columns: 20em 2;
	-moz-columns: 20em 2;
	-ms-columns: 20em 2;
	-o-columns: 20em 2;
	columns: 20em 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	-ms-column-gap: 20px;
	-o-column-gap: 20px;
	column-gap: 20px;
	padding: 0px 80px;
}

.two-column-text p {
	line-height: 1.5;
	font-size: 23px;
}

footer {
	padding: 20px 50px 20px 50px;
}

body {
	background: url(../img/brillant.png);
	background-position: initial initial;
	background-repeat: initial initial;
	padding-top: 80px;
}

.main {
	position: relative;
	padding-top: 0px;
}

/* Project display css */
.project-wrapper {
	background: #FFFFFF;
	border: 1px solid #ddd;
	margin: 30px 0px 0px 0px;
	padding: 10px 20px 10px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 160px;
}


.project-description {
	margin-top: 2%;
}

.project-photo-wrapper {
	display: table;
    height: 100%;
    width: 100%;
    padding-top: 15%;
}

.project-photo-wrapper.mobile {	
    padding-top: 8%;
}

.project-photo {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* add border to image */
    padding:1px;
    border:1px solid #E6E5E5;
}

.large-project-photo {
	width: 100%;
	max-width: 100%;
	height: auto;
	/* add border to image */
    padding:1px;
    border:1px solid #E6E5E5;
}

.mobile .project-photo {
	margin-right: auto;
	margin-left: auto;
	max-width: 45%;
	width: 45%;
}

.mobile .large-project-photo {
	margin-right: auto;
	margin-left: 55px;
	max-width: 25%;
	width: 25%;
}


.image-modal {
	left: 35%;
	width: 75%;
}

.image-modal.fade.in {
	top: 17%;
}